@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap');

@import "./normalize.css";

:root {
  --background-color: #23272E;
  --text-color: #FFF;
  --navbar-color: #15181C;
  --accent-color: #41B883;
  --danger-color: #E06C75;
  --warning-color: #E5C07B;
  --info-color: #61AFEF;
  --secondary-color: grey;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Fira Sans', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}
